@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .navButton {
    @apply py-[10px] px-2 sm:px-3 rounded-lg w-[90px] text-[13px] sm:text-base sm:w-[125px] font-bold text-white bg-[#2b313b] hover:bg-orange-500 active:scale-95 transition-all duration-300 ease-in-out
  }

  .textField {
    @apply p-2 text-black font-montserrat indent-2 outline-none border-[5px] border-gray-400 rounded-lg bg-gray-200 focus:border-orange-500
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2FAFF;
}

.exceeding-dark::-webkit-scrollbar {
  width: 10px;
}

.exceeding-dark::-webkit-scrollbar-thumb {
  background-color: rgb(106, 107, 109);
  border-radius: 20px;
}